---
import { Image } from "astro:assets";
---

<div
    style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; gap: 0.5rem; margin-top: 1rem;"
>
    <a
        class="badge-item"
        href="https://cadence.moe/blog/2024-10-05-created-by-a-human-badges"
    >
        <Image
            alt="created-by-human"
            width="88"
            height="31"
            src="/badges/created-by-human.png"
        />
    </a>
    <a class="badge-item" href="https://fedi.tips/">
        <Image
            alt="fediverse"
            width="88"
            height="31"
            src="/badges/fediverse.png"
        />
    </a>
    <a class="badge-item">
        <Image alt="1080p" width="88" height="31" src="/badges/1080p.gif" />
    </a>
    <a class="badge-item">
        <Image alt="bu12" width="88" height="31" src="/badges/bu12.gif" />
    </a>
    <a class="badge-item" href="https://code.visualstudio.com/">
        <Image alt="vscode" width="88" height="31" src="/badges/vscode.png" />
    </a>
    <a class="badge-item" href="https://wttr.in/komsomolsk-on-amur">
        <img
            alt="weather"
            width="100"
            height="31"
            src="https://wttr.in/komsomolsk-on-amur_0pq.png"
        />
    </a>
</div>
